<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado de Libros</title>
</head>
<body>
	<h1>Listado de Libros</h1>
	<table>
		<thead>
			<th>T&iacute;tulo</th>
			<th>Autor</th>
			<th>ISBN</th>
			<th>Categor&iacute;a</th>
			<th>Fecha de ingreso</th>
		</thead>
		<th:block th:each="libros, row:${libros}">
			<tr>
				<th th:text="${libros.s_titulo}" />
				<th th:text="${libros.s_autor}" />
				<th th:text="${libros.s_isbn}" />
				<th th:text="${libros.categoria.s_categoria}" />
				<th th:text="${libros.f_ingreso}" />
			</tr>
		</th:block>
	</table><br>
</body>
</html>